{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "no-unused-vars": 2,
    "max-len": [2, 80, 2],
    "no-console": 1,
    "prefer-arrow-callback": 2,
    "func-style": [
      2,
      "expression",
      {
        "allowArrowFunctions": true
      }
    ],
    "arrow-body-style": [2, "as-needed"],
    "array-bracket-spacing": ["error", "never"],
    "computed-property-spacing": ["error", "never"],
    "no-duplicate-imports": "error",
    "object-curly-spacing": ["error", "always"]
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "process": 1,
    "module": 1
  }
}
