include shape.pug

-
  var shapes = ['cross', 'triangle', 'circle', 'rect']
  var animations = ['slide-up', 'zoom-in', 'flip-up', 'fade-in']
  var colors = ['blue', 'pink', 'green', 'sand', 'light-pink']
  var delay = 300
  var columnsInRow = 2
  var minShapesInColumn = 1
  var maxShapesInColumn = 2
  var shapesNum = 100

  var getRandomProp = function(props) {
    return props[~~(Math.random() * props.length)]
  }

  var generateShapes = function() {
    var collection = []

    for (var i = 0; i < shapesNum; i++) {
      collection.push({
        shape: getRandomProp(shapes),
        animation: getRandomProp(animations),
        color: getRandomProp(colors),
        delay: Math.round(((Math.random() * delay)) / 50) * 50
      })
    }

    return collection
  }

  var generatedShapes = generateShapes()

  var generateColumns = function() {
    var shapes = generateShapes()
    var collection = []

    while (shapes.length) {
      var removeNum = ~~(Math.random() * maxShapesInColumn) + minShapesInColumn
      var column = []

      for (var i = 0; i < removeNum; i++) {
        var shape = shapes.pop()

        if (shape) {
          column.push(shape)
        }
      }

      if (column.length) {
        collection.push(column)
      }
    }

    return collection
  }

  var generateRows = function() {
    var columns = generateColumns()
    var rowsNum = columns.length / columnsInRow
    var collection = []

    for (var i = 0; i < rowsNum; i++) {
      var row = []

      for (var j = 0; j < columnsInRow; j++) {
        row.push(columns[i + j])
      }

      if (row.length) {
        collection.push(row)
      }
    }

    return collection
  }

head
  meta(charset='UTF-8')
  title Sal - Scroll Animation Library
  link(href='https://fonts.googleapis.com/css?family=Cabin:400,700', rel='stylesheet')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css')
  link(rel='stylesheet', href='../dist/sal.css')
  link(rel='stylesheet', href='styles.css')
main
  header.header
    h1.header__title Sal.js
    p.header__subtitle
      a.header__link(href='https://github.com/mciastek/sal') Github / Docs
  section.content
    - var rows = generateRows()
      each row in rows
        .row
          each column in row
            .column
              each shape in column
                +shape(shape.shape, shape.animation, shape.color, shape.delay)

  footer.footer
    small
      ='Created with ❤️by '
      a.footer__link(href='https://github.com/mciastek' target='_blank' rel='noopener')
        | Mirosław Ciastek
script(src='../dist/sal.js')
script.
  sal({
    once: false
  });
