:root {
  --border-color: #470102;
  --background-color: #fff;
  --sweet-pink: #fd9dae;
  --blue: #a9faf0;
  --green: #d8e66f;
  --cherub: #f6ccf5;
  --sand: #ebdfd9;
  --wild-watermelon: #fd5170;
  --wild-sand: #f7f7f7;
  --heliotrope: #ec45fe;
}

body {
  background-color: var(--background-color);
  color: var(--border-color);
  font-family: 'Josefin Sans', sans-serif;
  height: 1500px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  background-color: var(--wild-sand);
  padding-left: 16px;
  padding-right: 16px;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 16px;
  background-color: var(--wild-sand);
}

.header__logo {
  width: 87px;
  height: 49px;
}

.header__logo + .header__title {
  margin-left: 8px;
}

.header__title {
  font-size: 30px;
  margin: 0;
  margin-bottom: -6px;
}

.header__subtitle {
  display: none;
}

.header__subtitle+ .header__button {
  margin-left: auto;
}

.header__button {
  display: inline-block;
  height: 32px;
  padding: 0 16px;
  line-height: 34px;
  border-radius: 16px;
  color: #fff;
  background-color: var(--wild-watermelon);
  text-decoration: none;
  transition: background-color 0.2s;
}

.header__button:hover {
  background-color: var(--heliotrope);
}

.content {
  padding-top: 112px;
  padding-bottom: 32px;
  background-color: #fff;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  padding: 0 16px;
  background-color: var(--wild-sand);
}

.footer__link {
  color: var(--wild-watermelon);
  text-decoration: none;
  transition: color 0.2s;
}

.footer__link:hover {
  color: var(--heliotrope);
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 32px;
}

.row + .row {
  margin-top: 96px;
}

.column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 100%;
  max-width: 100%;
}

.column + .column {
  margin-top: 16px;
}

.row:nth-child(2n) .column {
  justify-content: space-around;
}

.shape.cross.pink {
  stroke: var(--sweet-pink);
}

.shape.cross.blue {
  stroke: var(--blue);
}

.shape.cross.green {
  stroke: var(--green);
}

.shape.cross.sand {
  stroke: var(--sand);
}

.shape.cross.light-pink {
  stroke: var(--cherub);
}

.shape.pink {
  fill: var(--sweet-pink);
}

.shape.blue {
  fill: var(--blue);
}

.shape.green {
  fill: var(--green);
}

.shape.sand {
  fill: var(--sand);
}

.shape.light-pink {
  fill: var(--cherub);
}

@media only screen and (min-width: 768px) {
  main {
    background-color: initial;
    padding: 0;
  }

  .header {
    top: 50%;
    right: auto;
    left: 50%;
    display: block;
    height: auto;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: transparent;
  }

  .header__logo {
    width: 124px;
    height: 70px;
  }

  .header__logo + .header__title {
    margin-top: 16px;
    margin-left: 0;
  }

  .header__title {
    margin: 0;
  }

  .header__title + .header__subtitle {
    margin: 8px 0 0;
  }

  .header__subtitle {
    display: block;
  }

  .header__subtitle + .header__button {
    margin-top: 32px;
  }

  .content {
    padding-top: 32px;
  }

  .column {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .column:first-of-type {
    padding-right: 128px;
  }

  .column + .column {
    margin-top: 0;
    padding-left: 128px;
  }
}
