/**
 * Settings
 */

 $sal-amount-of-duration-timings: 40 !default;
 $sal-amount-of-delay-timings: 20 !default;
 $sal-animation-duration: 0.2s !default;
 $sal-animation-delay: 0s !default;
 $sal-slide-offset: 20% !default;
 $sal-zoom-in-scale: 0.5 !default;
 $sal-zoom-out-scale: 1.1 !default;
 $sal-flip-rotate: 91deg !default; 

 $sal-animations: (
  fade: true,
  slide: true,
  zoom: true,
  flip: true
 ) !default;